#urgent-todo {
    background: #e29797;
}

#todo {
    background: #fde6ce;
}

.todo-wrapper {
    margin: 10px 0 -10px
}

.todo-wrapper ul {
    text-align: left;
    display: inline-block;
    margin: 0;
}

body {
    margin: 0;
}

#settings-wrapper {
    background: #f5f9fb;
    padding-bottom: 10px;
}

#settings-container {
    position: relative;
}

#toggle-settings {
    position: absolute;
    right: 1%;
    top: 12px;
}

#tables-wrapper {
    margin-bottom: 20px;
}

.curs-tr {
    background: #fffedd;
}

.curs-tr td a {
    color: #c16b00;
}

.seminar-tr {
    background: #ddf2ff;
}

.seminar-tr td a {
    color: #0e62a5;
}

.labor-tr {
    background: #e4ffdd;
}

.labor-tr td a {
    color: #009688;
}

.error {
    color: red;
}

.last-of-day-tr {
    border-bottom: 2px solid
}

a:hover,
a:hover font {
    background-color: transparent;
    text-decoration: underline
}

.other-week-tr {
    filter: grayscale(100%);
}

.other-week-tr td {
    background: transparent
}

.other-week-tr:hover {
    filter: grayscale(0%);
}

.meh-tr {
    opacity: 0.3;
    filter: grayscale(100%);
}

.meh-tr td {
    background: transparent
}

.meh-tr:hover {
    opacity: 0.7
}

.nope-tr {
    background: transparent
}

.nope-tr td {
    background: transparent
}

.nope-tr a {
    color: #003399
}

.hide-tr {
    display: none;
}

#offset-label {
    margin-top: 0px;
    margin-bottom: 0;
    padding-bottom: 7px;
    padding-top: 8px;
}

.ui-selectmenu-button.ui-button {
    width: auto
}

.ui-front:not(.ui-widget-overlay):not(.ui-selectmenu-open) {
    z-index: 100 !important;
}

.ui-selectmenu-open {
    z-index: 9999 !important;
}

.ui-selectmenu-icon.ui-icon {
    float: right;
    margin-top: 8px;
    border-style: solid;
    border-width: 3px 3px 0 3px;
    border-color: #0f0f0d transparent transparent transparent;
    width: 0;
    height: 0;
}

span.ui-button-icon.ui-icon.ui-icon-closethick {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg\" width="24" height="24" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"/></svg>');
    background-position: center;
    background-size: 50%;
}

#hider-list-wrapper {
    max-height: 300px;
    overflow: auto;
    margin-bottom: 9px;
}

#renamer-list-wrapper {
    max-height: 330px;
    overflow: auto;
    margin-bottom: 9px;
}

#visibility-dialog .row {
    margin-bottom: 2px;
}

#visibility-dialog label {
    line-height: 30px;
}

#visibility-dialog .ui-selectmenu-button {
    width: 100%;
}

#hider-dialog table {
    width: 100%;
}

#hider-dialog .check-column {
    width: 1px;
}

.option-wrapper {
    display: inline-block;
    margin-top: 7px;
}

.finder-options-wrapper {
    margin-left: 91px;
}

#finder-result,
#finder-time-result {
    margin: 10px auto 0 auto;
}

#import-status {
    color: red;
    font-weight: bold;
}

.beta-button::after {
    content: "BETA";
    font-size: 10px;
    vertical-align: super;
    color: white;
    background: darkred;
    font-weight: bold;
    padding: 0 3px;
    border-radius: 3px;
    margin-left: 3px;
}

/* ================ Custom ============== */

#customize-dialog {
    overflow: hidden;
}

#customize-dialog h3 {
    text-align: center;
}

#custom-empty-view {
    text-align: center;
}

#custom-selected-wrapper,
#custom-list-wrapper {
    vertical-align: top;
    display: inline-block;
    max-width: 355px;
}

#custom-selected-wrapper .scroller,
#custom-list-wrapper .scroller {
    max-height: 500px;
    overflow: auto;
}

#custom-controls {
    display: inline-block;
    vertical-align: top;
    margin: 100px 10px 0;
}

#custom-work-view .column-disciplina {
    max-width: 80px;
    overflow: hidden;
    white-space: nowrap;
}

#custom-work-view .column-cadrul-didactic {
    white-space: nowrap;
}

#custom-work-view .ui-selectee:not(.ui-selected) {
    background: none;
}

#custom-work-view .ui-selectee:not(.ui-selected) td {
    opacity: .8;
}

#custom-work-view .ui-selectee:not(.ui-selected) a {
    color: black;
}

#custom-work-view .ui-selected {
    font-weight: bold;
}

#custom-work-view .ui-selected tf {
    color: #313131;
}

#custom-work-view .matching:not(.ui-selected) td {
    text-decoration: underline;
}

#custom-work-view .matching .column-ziua {
    font-weight: bold;
}

#custom-work-view .curs-tr.ui-selectee td:not(:first-child):not(:nth-child(2)):not(:last-child) {
    background: #fffedd;
}

#custom-work-view .seminar-tr.ui-selectee td:not(:first-child):not(:nth-child(2)):not(:last-child) {
    background: #ddf2ff;
}

#custom-work-view .labor-tr.ui-selectee td:not(:first-child):not(:nth-child(2)):not(:last-child) {
    background: #e4ffdd;
}

.matched-table tr:not(.ui-selected):not(.matching) {
    filter: grayscale(100%);
}

/* ================ Icons =============== */

.ui-icon-gear {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 13.616v-3.232c-1.651-.587-2.694-.752-3.219-2.019v-.001c-.527-1.271.1-2.134.847-3.707l-2.285-2.285c-1.561.742-2.433 1.375-3.707.847h-.001c-1.269-.526-1.435-1.576-2.019-3.219h-3.232c-.582 1.635-.749 2.692-2.019 3.219h-.001c-1.271.528-2.132-.098-3.707-.847l-2.285 2.285c.745 1.568 1.375 2.434.847 3.707-.527 1.271-1.584 1.438-3.219 2.02v3.232c1.632.58 2.692.749 3.219 2.019.53 1.282-.114 2.166-.847 3.707l2.285 2.286c1.562-.743 2.434-1.375 3.707-.847h.001c1.27.526 1.436 1.579 2.019 3.219h3.232c.582-1.636.75-2.69 2.027-3.222h.001c1.262-.524 2.12.101 3.698.851l2.285-2.286c-.744-1.563-1.375-2.433-.848-3.706.527-1.271 1.588-1.44 3.221-2.021zm-12 2.384c-2.209 0-4-1.791-4-4s1.791-4 4-4 4 1.791 4 4-1.791 4-4 4z"/></svg>');
    background-position: center;
    background-size: 100%;
}

.ui-icon-eye {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12.015 7c4.751 0 8.063 3.012 9.504 4.636-1.401 1.837-4.713 5.364-9.504 5.364-4.42 0-7.93-3.536-9.478-5.407 1.493-1.647 4.817-4.593 9.478-4.593zm0-2c-7.569 0-12.015 6.551-12.015 6.551s4.835 7.449 12.015 7.449c7.733 0 11.985-7.449 11.985-7.449s-4.291-6.551-11.985-6.551zm-.015 3c-2.209 0-4 1.792-4 4 0 2.209 1.791 4 4 4s4-1.791 4-4c0-2.208-1.791-4-4-4z"/></svg>');
    background-position: center;
    background-size: 100%;
}

.ui-icon-hide {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19.604 2.562l-3.346 3.137c-1.27-.428-2.686-.699-4.243-.699-7.569 0-12.015 6.551-12.015 6.551s1.928 2.951 5.146 5.138l-2.911 2.909 1.414 1.414 17.37-17.035-1.415-1.415zm-6.016 5.779c-3.288-1.453-6.681 1.908-5.265 5.206l-1.726 1.707c-1.814-1.16-3.225-2.65-4.06-3.66 1.493-1.648 4.817-4.594 9.478-4.594.927 0 1.796.119 2.61.315l-1.037 1.026zm-2.883 7.431l5.09-4.993c1.017 3.111-2.003 6.067-5.09 4.993zm13.295-4.221s-4.252 7.449-11.985 7.449c-1.379 0-2.662-.291-3.851-.737l1.614-1.583c.715.193 1.458.32 2.237.32 4.791 0 8.104-3.527 9.504-5.364-.729-.822-1.956-1.99-3.587-2.952l1.489-1.46c2.982 1.9 4.579 4.327 4.579 4.327z"/></svg>');
    background-position: center;
    background-size: 100%;
}

.ui-icon-rename {
    background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8"?><svg viewBox="0 0 21 21" xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="m18.483 14.133h-1.462v-9h1.462v9z"/><path d="m12.525 6.6228h-10.542v6h10.542v1.51h-12.042v-9h12.042v1.49z"/><path d="m15.521 2.8728v13.5c0 0.414 0.335 0.75 0.75 0.75h1.5v1.5h-6v-1.5h1.504c0.415 0 0.75-0.336 0.75-0.75v-13.5c0-0.414-0.335-0.75-0.75-0.75h-1.504v-1.499h6v1.499h-1.5c-0.415 0-0.75 0.336-0.75 0.75"/></svg>');
    background-position: center;
    background-size: 100%;
}

.ui-icon-find {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M21.172 24l-7.387-7.387c-1.388.874-3.024 1.387-4.785 1.387-4.971 0-9-4.029-9-9s4.029-9 9-9 9 4.029 9 9c0 1.761-.514 3.398-1.387 4.785l7.387 7.387-2.828 2.828zm-12.172-8c3.859 0 7-3.14 7-7s-3.141-7-7-7-7 3.14-7 7 3.141 7 7 7z"/></svg>');
    background-position: center;
    background-size: 100%;
}

.ui-icon-reset {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M17.026 22.957c10.957-11.421-2.326-20.865-10.384-13.309l2.464 2.352h-9.106v-8.947l2.232 2.229c14.794-13.203 31.51 7.051 14.794 17.675z"/></svg>');
    background-position: center;
    background-size: 100%;
}

.ui-icon-printer {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M14 20h-6v-1h6v1zm10-15v13h-4v6h-16v-6h-4v-13h4v-5h16v5h4zm-6 10h-12v7h12v-7zm0-13h-12v3h12v-3zm4 5.5c0-.276-.224-.5-.5-.5s-.5.224-.5.5.224.5.5.5.5-.224.5-.5zm-6 9.5h-8v1h8v-1z"/></svg>');
    background-position: center;
    background-size: 100%;
}

.ui-icon-import {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 12l9-8v6h15v4h-15v6z"/></svg>');
    background-position: center;
    background-size: 100%;
}

.ui-icon-export {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 12l-9-8v6h-15v4h15v6z"/></svg>');
    background-position: center;
    background-size: 100%;
}

.ui-icon-customize {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M14.078 4.232l-12.64 12.639-1.438 7.129 7.127-1.438 12.641-12.64-5.69-5.69zm-10.369 14.893l-.85-.85 11.141-11.125.849.849-11.14 11.126zm2.008 2.008l-.85-.85 11.141-11.125.85.85-11.141 11.125zm18.283-15.444l-2.816 2.818-5.691-5.691 2.816-2.816 5.691 5.689z"/></svg>');
    background-position: center;
    background-size: 100%;
}

/* =========== Printer styles =========== */

@media print {
    #settings-wrapper,
    #toggle-settings {
        display: none;
    }
    #tables-wrapper table {
        page-break-after: always;
    }
}
